NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me-in-production

KEYCLOAK_CLIENT_ID=nextjs-client
KEYCLOAK_CLIENT_SECRET=nextjs-secret
KEYCLOAK_ISSUER=http://localhost:8080/realms/auth2

NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_REALM=auth2
